.alphabet{
	margin: 48px auto;
	width: max-content;
	padding: 10px;
	border-radius: 10px;
	background-color: #dddddd;
	display: grid;
	grid-template-columns: repeat(9, 100px);
	gap: 8px;
}

.letter{
	height: 100px;
	border: 3px solid black;
	cursor: pointer;
	border-radius: 10px;
	text-align: center;
	font-size: 48px;
}

#alphaspot{
	box-shadow: 9px 9px 9px 9px rgba(0,0,0,.5);
	margin-top: 150px;
	width: max-content;
	margin-inline: auto;
	border-radius: 10px;
	padding: 10px;
}
#infospot {
	box-shadow: 9px 9px 9px 9px rgba(0,0,0,.5);
	margin-top: 150px;
	width: max-content;
	margin-inline: auto;
	border-radius: 10px;
	padding: 10px;
}

#lettered {
	font-size: 30px;
	color: #ffb2b2;
	font-weight: bolder;
	font-family: Comic Sans MS;
}

#title{
	font-size: 30px;
	font-weight: bolder;
	font-family: Comic Sans MS;
	text-align: center;
}

#spell {
	
	font-size: 36px;
	font-family: Comic Sans MS;
}

.fill{
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
	height: 100px;
	width: 100px;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	background-color: #cccccc;
	

}
#empty {
	display: inline-block;
	height: 50px;
	width: 400px;
	margin: auto;
	border-radius: 5px;
	border: 3px solid black;
	background-color: #dddddd;
	text-align: center;
	font-size: 24px;
	padding: 10px;
}

#backspace{
	display: inline-block;
	height: 50px;
	width: 150px;
	margin: 10px;
	border-radius: 5px;
	border: 3px solid black;
	background-color: #dddddd;
	text-align: center;
	padding: 10px;
	cursor: pointer;
}
.hold {
	border: solid #ccc 4px;
}

.hovered {
	background: #f4f4f4;
	border-style: dashed;
}
.invisable {
	display:none;
}

.choiceletter .fill{
	display: inline-block;
}
.acontainer {
	display: inline-block;
	height : 100px;
	width: 100px;
}
.bcontainer {
	display: inline-block;
	height : 100px;
	width: 100px;
}