.tiles{
	
	margin: 48px auto;
	width: max-context;
	padding: 10px;
	border-radius: 10px;
	background-color: #dddddd;
	display: grid;
	grid-template-columns: repeat(5, 100px);
	gap: 8px;
}

.tile{
	
	height: 100px;
	border: 3px soild black;
	cursor: pointer;
	border-radius: 10px;
}

#ColorLN{
	box-shadow:  9px 9px 9px 9px rgba(0,0,0,.5);
	padding: 10px;
	margin-top: 150px;
	width: max-content;
	margin-inline:auto;
	
}

#colors{
	text-align: center;
}