body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	
}
.wrapper {
	box-shadow:  9px 9px 9px 9px rgba(0,0,0,.5);
	width: 65vmin;
	height: 70vmin;
	background: #dddddd;
	border-radius: 10px;
	display:flex;
	flex-direction: column;
	padding: 10px;
	
}


.game-details{
	color: black;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 20px 27px;
	display: flex;
	justify-content: space-between;
}

#play-board{
	height: 100%;
	width: 100%;
	background: #eeeeee;
	border-radius: 10px;
	display: grid;
	grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food{
	background: #ff0800;
}

.play-board .head{
	background: green;
}